/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/02/2018, 1:05:44
    Author     : USER
*/

body{
    background-image: url("../img/lapfondo.jpg");
    background-position: center;
    background-color: #58b6e5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    align-items: center;
    
    text-align: center;
    
}
h1{
    font-family: times new roman;
    font-style: italic;
    text-align: center;
    color: #0f0f0f;
   
}

table{
    align-content: center;
    align-items: center;
}


button { 
    border:none; 
    width: auto; 
    height: auto; 
}

table.tbConsulta
{
  width: 50%;
  align-content: center;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  margin: 0 auto;
  
}

table.tbConsulta td, table.tbConsulta tr {
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  padding: 3px;
  color: black;
}

table.tbConsulta thead {
  background-color: #ffcc00;
  
}

img{
    height: 30%;
    width: auto;
}

.formulario
{
    align-content:center;
    margin-top: 120px;
    color: blue;
}