/*Background*/

body{
    
    background-repeat: no-repeat;
    background-size: cover;
}
/*--header-- */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    margin-bottom: 0;
}

.jumbotron{
    background: #269abc;
    color: #fff;
    padding: 20px 0;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    align-items: center;
}
h1{
    font-family: times new roman;
    font-style: inherit;
    font-style: italic;
    text-align: center;
}

.formulario h2{
    font: bold 22px "Trebuchet MS";
    color:  #fff;
    margin-bottom: 20px;
    margin-left: 20px;
}
.formulario > div{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 5px;
  line-height: 150%;
  
  
}

.radio-toolbar input[type="radio"]:checked+label {
   
  content: "";
  
  background: none;
  border: 3px solid #0275d8;
   background: rgba(69, 219, 0, 0.23);
}
.content_table {
    
    min-height: 500px;
    margin-left: -5px;
    padding: 20px;
    margin: 70px auto;
    clear: both;
    padding: 30px;
    position: relative;
}
img {
    height: 250px;
    width: auto;
    position: relative;
}

h1 {
	/*background-color: #FFFFFF;*/
	width: 100%;
	height: 110px;
	padding: 0;
	position: relative;
	z-index: 100;
	margin-bottom: -110px;
	top: 0;
	left: 0px;
        color: #FFFFFF;
	/* box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); */
}
td{
    color:#FFFFFF;
    font-family: times new roman;
    font-size: 20px;
}

