/*Background*/

body{
    background-image: url("../img/fondo_azul2.jpg");
    background-color: #58b6e5;
}
/*--header-- */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    margin-bottom: 0;
}

.jumbotron{
    background: #269abc;
    color: #fff;
    padding: 20px 0;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.formulario h2{
    font: bold 22px "Trebuchet MS";
    color:  #fff;
    margin-bottom: 20px;
    margin-left: 20px;
}
.formulario > div{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 5px;
  line-height: 150%;
  
  
}

.radio-toolbar input[type="radio"]:checked+label {
   
  content: "";
  
  background: none;
  border: 3px solid #0275d8;
   background: rgba(69, 219, 0, 0.23);
}

